header {
    background-color: rgb(44, 43, 44);
    text-align: center;
    padding: 20px;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
    align-content: left;
}

.topnav {
    background-color: rgb(176, 182, 167);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: rgb(17, 59, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color:darkgreen;
    color:aquamarine;
}

.topnav a.active {
    background-color:darkgreen;
    color: aquamarine;
}

main {
    background-color: rgb(44, 43, 44);
    text-align: center;
    padding: 20px;
}

footer {
    background-color: rgb(44, 43, 44);
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: rgb(176, 182, 167);
    overflow: hidden;
}

.footer p {
    float: left;
    color: rgb(17, 59, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
